<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My App</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'my_app/css/candies.css' %}">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'candies_index' %}">Candies</a></li>
                    <li><a href="{% url 'candies_create' %}">New Candy</a></li>
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
        <main>
            {% block content %}
            
            {% endblock %}
        </main>
    </body>
</html>